/* Defines color for discarded data series in scatterchart. */
.default-color0.chart-symbol { /* hollow circle */
    -fx-background-color: lightgrey, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

/* Defines color for active data series in scatterchart. */
.default-color1.chart-symbol {
    -fx-background-color: darkgrey;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

/* Defines color for selected data series in scatterchart. */
.default-color2.chart-symbol {
    -fx-background-color: blue;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}

.chart-plot-background {
 	-fx-background-color: #ffffff;   
}

/* 
 * Range Slider
 */

.range-slider .range-bar {
	-fx-background-insets: 2;	
}

.range-slider:vertical .range-bar {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-opacity: 0;
}

.range-slider:vertical .track {
	-fx-opacity:0;
}

/*
 * Here: Alternative thumb for both Slider and RangeSlider. 
 */

.slider .thumb {
	-fx-max-width: 1px;
}

.range-slider .low-thumb {
    -fx-shape: "M2.998-0.07L3-1.499l2.998, 	4L3, 										6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
}
.range-slider .high-thumb {
    -fx-shape: "M5.997,						5.072L5.995,6.501l-2.998-4l2.998-4l0.002,	1.43l-1.976,2.57L5.997,5.072z";
}

/* 
 * Here: Customizations for scroll-panes.
 */

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}

/*
 * From here: CSS for numeric spinner. 
 */

#NumberField {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-background-insets:1;
    -fx-border-radius:3 0 0 3;
    /*    -fx-border-radius:0 0 0 0;*/
}

#NumberSpinnerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
    /*        -fx-effect: innershadow( gaussian , black , 2 , 0.6 , 1 , 1 )*/
}

#ButtonsBox {
    -fx-border-color:lightgray;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius: 0 3 3 0;
    /*    -fx-border-radius: 0 0 0 0;*/
}

#SpinnerButtonUp {
    -fx-background-insets: 0;
    -fx-background-radius:0 3 0 0;
    /*    -fx-background-radius:0;*/
}

#SpinnerButtonDown {
    -fx-background-insets: 0;
    -fx-background-radius:0 0 3 0;
    /*    -fx-background-radius:0;*/
}